@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100;400;900&display=swap");

@import url("effect.css");

html,
body {
  background-color: black;
  color: white;
  font-family: "Roboto Slab";
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
  font-size: 80px;
  text-align: left;
  font-family: "Roboto Slab";
  font-weight: 900;
}
a,
a:visited {
  color: blanchedalmond;
  text-decoration: none;
}

p {
  font-family: "Roboto Mono";
  font-weight: 100;
}

.main-section {
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
}

.main-section > p {
  width: 800px;
  max-width: 90%;
  margin: auto;
  font-size: 22px;
}

.main-section > .manner {
  margin-top: 10px;
  font-size: small;
  font-family: "Roboto Mono";
  opacity: 0.5;
}

.donate-section {
  width: 800px;
  max-width: 90%;
  margin: auto;
  font-size: 22px;
}

.analyze-section {
  margin-top: 10vh;
  margin-bottom: 40vh;
}

.analyze-section > textarea {
  display: block;
  width: 800px;
  max-width: 70%;
  margin: auto !important;
  height: 300px;
  font-family: "Roboto Mono";
  background-color: rgba(255, 255, 255, 0.066);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
}
.analyze-section > textarea::placeholder {
  font-size: 16px;
}

.analyze-button {
  background-color: white;
  padding: 10px;
  width: 250px;
  font-family: "Roboto Mono";
  font-size: 20px;
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-top: 30px;
}

.donate-button {
  font-family: "Roboto Mono";
  font-size: 14px;
  border-radius: 5px;
  display: block;

  text-align: left;
  margin-top: 20px;
}

.result-message {
  width: 800px;
  max-width: 90%;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.066);
  padding: 10px 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.score {
  font-size: 46px;
  text-align: center;
  font-family: "Roboto Mono";
}
